{% extends "base.html.twig" %}

{% block container %}
	<div class="row">
		{% for course in list_course %}
			<div class="col-lg-4">
				<div class="card">
					<img class="card-img-top" src="{{asset('uploads/img/'~ course.image )}}">
					<div>
						<h4 class="card-title">{{course.title}}</h4>
						<h3> Hola tonta </h3>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}