{% extends "base.html.twig" %}

{% block title %} MY APP {% endblock %}


{% block container %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="title">Bienvenido {{nameCTRL}}</h1>
	</div>
	<div class="col-lg-6 col-sm-12">Reynoso</div>
	<div class="col-lg-6 col-sm-12">Erick</div>
</div>
{% endblock %}

{% block javascript %}
<script>
	//window.addEventListener('load', function () {
	//	alert("Aqui una alerta Javascript");		
	//})
</script>
{% endblock %}
	
