{% extends "baseAdminLTE.html.twig" %}

{% block title %} MY APP {% endblock %}
{% block stylesheets %}{% endblock %}

{% block container %}
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1>Registro de Categoría</h1>
	</div>
	<div class="col-lg-12">
		{{ form_start(formCategory) }}
			<div class="form-group">
				{{ form_row( formCategory.name) }}
			</div>
			<div class="form-group">
				{{ form_row( formCategory.submit) }}
			</div>
			
		{{ form_end(formCategory) }}
	</div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}